*{
    margin: 0px;
    font-family: poppins;
}
.nav_bar{
    height: 53px;
    width: 100%;
    background-color: rgb(33, 33, 33);
}
.nav_content1{
    display: block;
    padding-left: 225px;
    padding-top: 12px;
    font-size: larger;
    color: white;
}
.panels{
    display: grid;
    justify-items: center;
    grid-template-areas: 
        "panel1 panel2 panel3 panel4"
        "panel5 panel6 panel7 .";
    row-gap: 10px;
    margin: 40px 20px 0 210px;
}
.icons{
    height: 150px;
    width: auto;
    z-index: 0;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.25s ease-in-out;
}
.icons:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
}
.panel_title:hover{
    text-decoration: underline;
}
.panel_col1{
    grid-area: panel1;
}
.panel_col2{
    grid-area: panel2;
}
.panel_col3{
    grid-area: panel3;
}
.panel_col4{
    grid-area: panel4;
}
.panel_col5{
    grid-area: panel5;
}
.panel_col6{
    grid-area: panel6;
}
.panel_col7{
    grid-area: panel7;
}
.panel_title{
    font-size: small;
    text-align: center;
    font-weight: bold;
}
@media only screen and (max-width:1020px){
    .panels{
        display: grid;
        justify-items: center;
        grid-template-areas: 
            "panel1"
            "panel2"
            "panel3"
            "panel4"
            "panel5"
            "panel6"
            "panel7";
    }
}
button{
    border: none;
    background-color: white;
}