.nav_bar{
    height: 53px;
    width: 100%;
    background-color: rgb(33, 33, 33);
}
.nav_content1{
    display: block;
    padding-left: 225px;
    padding-top: 12px;
    font-size: larger;
    color: white;
}
.my_table th, .my_table td{
    min-width: 16.7vw;
}